.bnkshowsidebar{
    display: none;
}

.bnktogglesidebar{
    display: block !important;
}


 @media (min-width: 576px){
    /* .bnkhidesidebar{
        display:block;
     } */
    
     .bnkshowsidebar{
        display: block;
    }

 }

 



  